body {
	padding: 20px;
	font-family: Arial, sans-serif;
	line-height: 21px;
	color: #000;
	font-size: 16px;
}

.reportWrapper {
	margin-bottom: 75px;
}

.reportTable h1 {
	font-size: 28px;
}

.reportTable h2 {
	font-size: 24px;
}

table {
	border-collapse: collapse;
}

table th, table td {
	padding: 7px 10px;
	text-align: left;
}

table th:last-child, table td:last-child {
	text-align: right;
}

.reportWrapper, .reportTable, .itemTable {
	width: 100%;
}